* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
}
#icons{
  color: #FFBB44;
}

section {
  /* min-height: 100vh;
  width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
}
/* .nav{
  width: 950px;
  background-color: #112266;
  padding: 50px;
  margin: 20px;
  z-index: 1;
} */
.container {
  /* max-width: 1200px; */
  /* width: 100vh; */
  width: 900px;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000020;
  border-radius: 8px;
  background-color: white;
  position: relative;
  justify-content: center;
  align-items: center;
  /* bottom: 150px; */
  /* z-index: 2; */
}
.step {
  display: none;
}
.step.active {
  display: block;
}
.form-group {
  width: 100%;
  margin-top: 20px;
}
.form-group input {
  width: 100%;
  border: 1.5px solid rgba(128, 128, 128, 0.418);
  padding: 5px;
  font-size: 18px;
  margin-top: 5px;
  border-radius: 4px;
}

button.next-btn,
button.previous-btn,
button.submit-btn {
  float: right;
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  outline: none;
  color: white;
  background-color: #112266;
  font-family: 'Nunito', sans-serif;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  /* text-align: right; */
}
button.previous-btn {
  float: left;
}
button.previous-btn {
  background-color: #C4C4C4;
}
button.submit-btn {
  background-color: #FFBB44;
}
