{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bases.css'%}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <img class="logo-image" src="{% static 'image/logo.png' %}" alt="logo">
      <h1 class="logo_name">Tech<span>Care</span></h1>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/dashboard/dashboard">
            <i class='bx bx-building-house' ></i>
            <span class="links_name">Overview</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/register_chw">
            <i class='bx bx-user-plus' ></i>
            <span class="links_name"> Register CHWs </span>
          </a>
        </li>
        <li>
          <a href="/dashboard/chw_list">
            <i class='bx bx-user-plus' ></i>
            <span class="links_name">CHWs List </span>
          </a>
        </li>  
        <li>
          <a href="/dashboard/household_list">
            <i class='bx bx-user-plus' ></i>
            <span class="links_name"> Households List </span>
          </a>
        </li>      
        <li>
          <a href="/dashboard/calendar">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Calendar</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Analytics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Support</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-adjust' ></i>
            <span class="links_name">Light mode</span>
          </a>
        </li>

        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Hello Kimberly</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <img src="images/profile.jpg" alt="">
        <span class="admin_name">Kimberly Jones</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>

    <div class="home-content">

    {%block content%}
    {% endblock %}

    </div>
  </section>
 <script src="{% static 'js/bases.js' %}"></script>

</body>
</html>

