

{% extends 'bases.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css'%}">
<center><h1 class="reg">List of households </h1></center>

<table class="styled-table">
    <thead>
        <tr>
        <th>First Name</th>
         <th>Last Name</th>
         <th>ID Number</th>
         <th>Area</th>
         <th>No. of Members</th>
         <th>Income </th>
         <th>Delete Household</th>
        </tr>
    </thead>
    <tbody>
        {% for household in households %}
        <tr>
        <td>{{household.contact_person_first_name}}</td>
        <td>{{household.contact_persons_last_name}}</td>
        <td>{{household.ID_number}}</td>
        <td>{{household.household_area}}</td>
        <td>{{household.number_of_household_members }}</td>
        <td>{{household.contact_persons_income }}</td>
        <td> <button><a href="{% url 'delete_household' id=household.id %}">Delete </a></button></td>
    </tr>
    </tbody>
    {% endfor %}

</table>

{% endblock %}
