
{% extends 'bases.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/register.css'%}">
<div class="fomu">

    {% if messages %}
        {% for message in messages %}
        <div>
<!--                | means OR operator-->
            <center><h1 class="reg">{{message|safe}} <a href="/dashboard/register_chw/" style="color:blue;">Retry</a></h1></center>
        </div>
        {% endfor %}
    {% else %}
    {{order}}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="upload" for="file1"> Upload you chw file</label>
        <input type="file" id="file1" name="file">
        <small>Ensure its CSV files</small>
        <button class="button" type="submit">Upload</button>
    </form>
    {% endif %}
    {% for chw in chws %}
    {% endfor %}
</div>

{% endblock %}
