{% extends 'bases.html' %}
{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<div class="card">
    <center><h1 class="reg">Analytics</h1></center>
    <figure class="pie-chart">
	
        <figcaption>
            Households<span style="color:#4e79a7"></span><br>
            Family Planning<span style="color:#f28e2c"></span><br>
            Children<span style="color:#e15759"></span><br>
            CHWs<span style="color:#76b7b2"></span><br>
            Referrals<span style="color:#59a14f"></span><br>
            Pregnant Women<span style="color:#edc949"></span>
        </figcaption>
        
    </figure>
</div>


<style>
     .pie-chart {
    background:
      radial-gradient(
        circle closest-side,
        transparent 66%,
        white 0
      ),
      conic-gradient(
        #4e79a7 0,
        #4e79a7 38%,
        #f28e2c 0,
        #f28e2c 61%,
        #e15759 0,
        #e15759 77%,
        #76b7b2 0,
        #76b7b2 87%,
        #59a14f 0,
        #59a14f 93%,
        #edc949 0,
        #edc949 100%
    );
    position: relative;
    width: 60%;
    min-height: 350px;
    margin: 0;
    border-radius: 20px;
    margin-left: 20%;
   
  }
  body{
    font-family: 'Nunito', sans-serif;
  }
  .pie-chart h2 {
    position: absolute;
    margin: 1rem;
  }
  .pie-chart cite {
    position: absolute;
    bottom: 0;
    font-size: 80%;
    padding: 1rem;
    color: gray;
  }
  .pie-chart figcaption {
    position: absolute;
    bottom: 1em;
    right: 0.07em;
    font-size:500;
    text-align: right;
    margin-right: 20px;
    font-family: 'Nunito', sans-serif;
  }
  .pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
  }

  
</style>

{% endblock %}
