{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="sortHous">
    <!-- sort starts -->
    <div
     class="sorthouse"
    >
    <a href="{% url 'household' %}" style="text-decoration: none;  color: inherit;">
      <p>All</p>
    </a>
    </div>
    
    <div
     class="sorthouse"
    >
      <p> Visited</p>
    </div>
    <div
     class="sorthouse"
    >
    <a href="{% url 'follow_up' %}" style="text-decoration: none;  color: inherit;">
      <p>Follow up</p>
    </a>
    </div>
    <div
     class="sorthouse"
    >
      <p>Family planning</p>
    </div>
    <!-- sort ends -->
  
   
  </div>

{% for referree in referrees %}
<div class="house">
    <div class="house__top">
      <img 
      class="user__avatar"
      src="https://www.pngkit.com/png/full/591-5917879_a-superior-photobooth-yellow-family-icon.png"
      alt=""
    />
      <div class="post__topInfo">
          <h3> {{ referree.referree}}'s Household  </h3>
          <p>{{ referree.patients_first_name }} {{ referree.patients_last_name }}</p>
          <p>{{ referree.date }}</p>

        </div>
    </div>

    <div class="house__bottom">
        <div class="house__option">
            <span style="color: gray" class="material-icons"> edit </span>
            <a href="{% url 'edit_referral' id=referree.id %}" style="text-decoration: none; color: inherit;" >
            <h3> Edit </h3></a>
          </div>
      <div class="house__option">
        <span style="color: gray" class="material-icons"> delete </span>
        <a href="{% url 'delete_ref' id=referree.id %}" style="text-decoration: none; color: inherit;" >
        <h3 >Delete </h3></a>
      </div>
    </div>
  </div>
  {% endfor %}

  {% endblock %}