{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />
</head>
<body>
    
<section>
    <!-- <div class="nav"></div> -->
    <div class="container">
      <form>
  
        <div class="step step-1 active">
          <div class="form-group">
            <i class="fa fa-users" aria-hidden="true" id="icons"></i>
            <label for="firstName">Contact Person's Name</label>
            <input type="text" id="firstName" name="first-name">
          </div>
          <div class="form-group">
            <i class="fa fa-phone" aria-hidden="true" id="icons"></i>
            <label for="phone"> phone number</label>
            <input type="number" id="phone" name="phone-number">
          </div>
          <div class="form-group">
            <i class="fa fa-id-card-o" aria-hidden="true" id="icons"></i>
            <label for="phone">ID number</label>
            <input type="number" id="phone" name="phone-number">
          </div>
          <div class="form-group">
            <i class="fa fa-map-marker" aria-hidden="true" id="icons"></i>
            <label for="lastName">Household location</label>
            <input type="text" id="lastName" name="last-name">
          </div>
          <button type="button" class="previous-btn">Create</button>
          <button type="button" class="next-btn">Assess</button>
        </div>
  
        <div class="step step-2">
          <div class="form-group">
            <!-- <label for="email">Email</label>
            <input type="text" id="email" name="email"> -->
            <p class = "questions">Are there any children in this household?</p>
            <input type="radio" id="html" name="fav_language" value="Yes">
            <label for="html">Yes</label>
            <input type="radio" id="css" name="fav_language" value="No">
            <label for="css">No <br></label> <br>
            <p class = "questions">Are they under the age of 5 years?</p>
            <input type = "radio" id = "mc" name = "" value = ""> Yes<br>
            <input type = "radio" id = "mc" name = "" value = "">No<br>
            <!-- <input id = "button" type = "button" value = "I'm finished!" onclick = "check();"> -->
          </div>
          <div class="form-group">
            <p class = "questions">Are they vaccinated?</p>
         <input type = "radio" id = "mc" name = "" value = ""> Yes<br>
         <input type = "radio" id = "mc" name = "" value = "">No<br>
          </div>
          <div class="form-group">
            <p class = "questions">If yes, Specify: </p>
         <input type = "radio" id = "mc" name = "" value = "">Polio<br>
         <input type = "radio" id = "mc" name = "" value = "">Measles<br>
         <input type = "radio" id = "mc" name = "" value = "">Tetanus<br>
         <input type = "radio" id = "mc" name = "" value = "">Influenza<br>
        </div>
        <div class="form-group">
          <p class = "questions">Any side effects?</p>
       <input type = "radio" id = "mc" name = "" value = "">Yes<br>
       <input type = "radio" id = "mc" name = "" value = "">No<br>
        </div>
        <div class="form-group">
          <label for="lastName">If yes, Specify:</label>
          <input type="text" id="lastName" name="last-name">
        </div>

          <button type="button" class="previous-btn">Prev</button>
          <button type="button" class="next-btn">Next</button>
        </div>
  
        <div class="step step-3">
          <div class="form-group">
            <label for="phone">How many shots of the vaccine have been taken?</label>
            <input type="number" id="phone" name="phone-number">
          </div>
          <div class="form-group">
          <p class = "questions">Is the Child showing signs of illness?</p>
         <input type = "radio" id = "mc" name = "" value = "">Yes<br>
         <input type = "radio" id = "mc" name = "" value = "">No<br>
          </div>
          <div class="form-group">
            <label for="postCode">If yes, specify:</label>
            <input type="text" id="postCode" name="post-code">
          </div>
          <div class="form-group">
            <p class = "questions">Has the child been coughing a lot?</p>
           <input type = "radio" id = "mc" name = "" value = "">Yes<br>
           <input type = "radio" id = "mc" name = "" value = "">No<br>
            </div>
            <div class="form-group">
              <label for="postCode">If yes, for how long?</label>
              <input type="text" id="postCode" name="post-code">
            </div>
            <div class="form-group">
              <p class = "questions">Does the child have fever?</p>
             <input type = "radio" id = "mc" name = "" value = "">Yes<br>
             <input type = "radio" id = "mc" name = "" value = "">No<br>
              </div>
              <div class="form-group">
                <label for="phone">What is the child's temprature?</label>
                <input type="number" id="phone" name="phone-number">
              </div>
              <div class="form-group">
                <p class = "questions">In need of referral?</p>
               <input type = "radio" id = "mc" name = "" value = "">Yes<br>
               <input type = "radio" id = "mc" name = "" value = "">No<br>
                </div>
          <button type="button" class="previous-btn">Prev</button>
          <button type="submit" class="submit-btn">Submit</button>
        </div>
  
      </form>
    </div>
  </section>
  <script src="{% static 'js/script.js' %}"></script>
<a href="accounts/login">Login</a>
<a href="accounts/register">Register</a>
</body>
</html>